<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/index.css" />
  <link rel="icon" href="/movieDBicon.png" />
  <title>Inventory Application</title>
</head>
<body>
  <div id="headerContainer">
    <div id="headerLogoContainer">
      <a href="/">
        <div id="headerTxt">
          Movies Base Network
        </div>
      </a>
      <div id="headerLogo" >
        <img src="/movieDBicon.png" />
      </div>
    </div>

    <div id="dataContainer">
      <div id="glowingred">
        <img src="/glowingred.gif" />
      </div>
      <div id="dataValueType">
        Create Mode
      </div>
    </div>
  </div>
    <% const urlParts = req.originalUrl.split('/').map(part => decodeURIComponent(part)); %>
    <% console.log(urlParts); %>
    <% if (urlParts[1] != "alltitles") { %>
      <div id="deleteBtnContainer" >
        <form action="/<%= urlParts[1] %>/<%= urlParts[2] %>/deleteall" method="POST">
          <div id="deleteBtnDataType">
            <button type="submit" value="Send">Delete All Data for <%= urlParts[2] %></button>
          </div>
        </form>
      </div>
     <% } %> 
  </div>
  <div id="mainBody">
    <%- include("sidebar/sidebar.ejs") %>
    <div id="addtitleformDisplayContainer">
      <form action="/<%= urlParts[1] %>/<%= urlParts[2] %>/createtitle" method="POST" id="addForm">
        <fieldset>
          <legend>Add a title and description</legend>
          <div id="formEntryTitle">      
            <input id="title" placeholder="Add a title & description to <%= urlParts[2] %>" type="text"  name="titletext" required><br>
          </div>
          <div id="formEntryDescription">
            <textarea placeholder="Enter Description" id="description" type="text" name="descriptiontext" > </textarea>
          </div>
          <div id="submitBtnAddTitle">
            <button type="submit" value="Send">Add Movie</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <script src="/js/helpers.js"></script>
</body>
</html>