
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/index.css" />
  <title>Inventory Application</title>
</head>
<body>
  <div id="headerContainer">
    <div id="headerLogoContainer">
      <a href="/">
        <div id="headerTxt">
          Movies Base Network
        </div>
      </a>
      <div id="headerLogo" >
        <img src="/movieDBicon.png" />
      </div>
    </div>
    <div">
      <button id="theme-btn">theme</button>
    </div>
    <div id="dataContainer">
      <div id="glowingred">
        <img src="/glowingred.gif" />
      </div>
      <div id="dataValueType">
        Details
      </div>
    </div>
  </div>
  <div id="mainBody">
    <%- include("sidebar/sidebar.ejs") %>
    <div id="moviesDisplayContainer">
      <div id="movieDetails">
        <div id="movieDetailsTitle"><%= titleDetails.titleName %></div>
        <% let datatype = "alltitles" %>
        <% const titleid = titleDetails.titleId %>

        <div id="movieDetailsGenre">
        <% if (titleDetails.genreName !== null) { %>
          <%= titleDetails.genreName %>
          <% datatype = "genreedit" %>
        <% } %>
        </div>
      
        <% if (titleDetails.directorName !== null) { %>
          <div><%= titleDetails.directorName %></div>
          <% datatype = "directoredit" %>
        <% } %>

        <% if (titleDetails.titleDescription !== null) { %>
          <div><%= titleDetails.titleDescription %></div>
        <% } %>

        <div id="editMovieBtnContainer">
          <a href="/edittitle/<%= datatype %>/<%= titleid %>">
            <div id="editMovieBtn">Edit</div>
          </a>
        </div>

      </div>
      
    </div>
  </div>
  <script src="/js/helpers.js"></script>
</body>
</html>
