<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/index.css" />
  <title>Inventory Application</title>
</head>
<body>
  <div id="headerContainer">
    <a href="/">
      <div id="headerTxt">
        Movies Base Network
      </div>
    </a>
  </div>
  <div id="mainBody">
    <%- include("sidebar/sidebar.ejs") %>
    <div id="edittitleformDisplayContainer">
      <% const titleid = req.params.titleid %>
      <form action="/<%= titleid %>/edittitle" method="POST" id="editForm">
        <fieldset>
          <legend>Edit title and details</legend>
          <div id="formEntryTitle">      
            <input id="title" type="text"  name="titletext" value="<%= titleDetails.titleName %>" placeholder="Enter movie title"><br>
          </div>
          <div id="formEntryTitle">      
            <input id="genre" type="text"  name="genrename" value="<%= titleDetails.genreName %>" placeholder="Enter genre"><br>
          </div>
          <div id="formEntryTitle">      
            <input id="director" type="text"  name="directorname" value="<%= titleDetails.directorName %>" placeholder="Enter director"><br>
          </div>
          <div id="formEntryDescription">
            <textarea placeholder="Enter Description" id="description" type="text" name="descriptiontext"><%= titleDetails.titleDescription %></textarea>
          </div>
          <div id="submitBtnAddTitle">
            <button type="submit" value="Send">Edit Movie</button>
          </div>
        </fieldset>

      </form>
      <div id="submitBtnDeleteTitle">
        <form action="/<%= titleid %>/deletetitle" method="POST">
          <button type="submit">
            <img src="/trash.svg" id="trashIcon"/>
          </button>
        </form>
      </div>
    </div>
  </div>
  <script src="/js/helpers.js"></script>
</body>
</html>