<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/index.css" />
  <title>Inventory Application</title>
</head>
<body>
  <div id="headerContainer">
    <div id="headerLogoContainer">
      <a href="/">
        <div id="headerTxt">
          Movies Base Network
        </div>
      </a>
      <div id="headerLogo" >
        <img src="/movieDBicon.png" />
      </div>
    </div>
    <div">
      <button id="theme-btn">theme</button>
    </div>
    <div id="dataContainer">
      <div id="glowingred">
        <img src="/glowingred.gif" />
      </div>
      <div id="dataValueType">
        <%= namevalue %> 
      </div>
    </div>
  </div>
  <div id="mainBody">

    <%- include("sidebar/sidebar.ejs") %>
    <div id="moviesDisplayContainer">

    <% titles.forEach((title, index) => { %>
      <div class="movieCells">
        <a href="/details/<%= title.titles_id %>"><%= title.title %></a>
      </div>
    <% }) %>
    <% let datatype = "alltitles" %>
    <% const name = namevalue %>
    <% if (req.baseUrl == "/genre") {datatype = "genreadd"} 
    else if (req.baseUrl == "/director") {datatype = "directoradd"}%>
      <div class="movieCells">
        <a id="addMovieBtn" href="/<%= datatype %>/<%= name %>/createtitle">
          <img class="addMovieIcon" src="/addcircle.png" />
        </a>
      </div>
    </div>
  </div>
  <script src="/js/helpers.js"></script>
</body>
</html>